---
title: Home page
slug: index
position: 0
listed: true
published: true
is_layout: false
---
Content of the home page

<!DOCTYPE HTML>
<!--
	Highlights by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Something Cool</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<header class="major">
					<h1>James Balderas</h1>
					<p>It's lit🔥</p>
					<p>No hay pedo</p>
				</header>
				<div class="container">
					<ul class="actions">
						<li><a href="https://tcmg412-b.github.io/team-B/" class="button special scrolly">Home</a></li>
						<li><a href="https://tcmg412-b.github.io/team-B/pages/1.html" class="button special scrolly">The Nerds</a></li>
						<li><a href="#one" class="button special scrolly">Turn up</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="images/pic01.jpg" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>Who am I?</h2>
						</header>
						<p>I'm the realest nigga you'll ever meet. JK I can be fake and mean. I'm a Technology Management major from Texas A&M University. I'm class of 2018. I'm from Richmond, Texas which is about 20 miles southwest of Houston.</p>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="pic02.jpg" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>Stuff I like to do</h2>
						</header>
						<p>I love working with and racing cars. I love technology and innovative ideas. I love to sleep. I love to eat. And I love traveling.</p>
					</div>
					<a href="#footer" class="goto-next scrolly">Next</a>
				</div>
			</section>

		<!-- Three -->

			<section id="footer">
				<footer>
					<ul class="icons">
						<li><a href="https://www.facebook.com/james.balderas.75" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/jameschido/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="malito:jamesbalderas@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Demo Images: <a href="http://unsplash.com">Unsplash</a></li><li>Problems? Contact <a href="https://doit.tamu.edu/">your mom</a></li>
					</ul>
				</footer>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
